

<!DOCTYPE html>
<html>
<head>
  <title>Software Engineering - Profile</title>

  <link rel="stylesheet" href="../static/components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/components/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="../static/style.css"/ >
  <script src="../static/components/jquery/dist/jquery.min.js"></script>
  <script src="../static/components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="http://placehold.it/150x150" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            John Doe
          </div>
          <div class="profile-usertitle-job">
            Student
          </div>
        </div>
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-user"></i>
              Account Information </a>
            </li>
            <li>
              <a href=".sendMessage">
              <i class="glyphicon glyphicon-send"></i>
              Send Message </a>
            </li>

          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
    <div class="container navbar-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">VUC</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/public">Public Site</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
        <form class="navbar-form navbar-left pull-right search" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
  </div>
      <div class="profile-content">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">John Doe &nbsp;<span class="glyphicon glyphicon-pencil pull-right"></span></h4>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">John_Doe@batee5.com &nbsp;<span class="glyphicon glyphicon-pencil pull-right"></span></h4>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Password &nbsp;<span class="glyphicon glyphicon-pencil pull-right"></span></h4>
            <p class="list-group-item-text">**********</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Phone Number &nbsp;<span class="glyphicon glyphicon-pencil pull-right"></span></h4>
            <p class="list-group-item-text">0123456789</p>
          </a>

        </div>
        <div class="panel panel-default" style="width: 100%">
                        <div class="panel-heading">
                            <h2><strong>Registered Courses</strong></h2>
                        </div>
                        <div class="panel-body">
                            <table class="table bootstrap-datatable countries">
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Users</th>
                                        <th>Last Update</th>
                                        <th>Grade</th>
                                    </tr>
                                </thead>   
                                <tbody>
                                    <tr>
                                        <td>Some Course</td>
                                        <td>2563</td>
                                        <td>Assignment 3 was posted 14/4/2015</td>
                                        <td>
                                            95/100  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Some Course</td>

                                        <td>2563</td>
                                        <td>Assignment 3 was posted 14/4/2015</td>
                                        <td>
                                            95/100 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
                    </div>
      </div>

    </div>
  </div>
</div>
<br>
<br>
</body>
</html>