<!DOCTYPE html>
<html>
<head>
	<title>VUC</title>

	<link rel="stylesheet" href="../static/components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/components/bootstrap/dist/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="../static/style.css"/ >
	<script src="../static/components/jquery/dist/jquery.min.js"></script>
	<script src="../static/components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container navbar-container">
		<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">VUC</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/public">Public Site</a></li>
            </ul>
				<form class="navbar-form navbar-left pull-right search" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		      </form>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
	</div>
	<div class="container">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://placehold.it/350x150" />
	      <div class="caption">
	        <h3><a href="/courseMat">Computer Architecture</a></h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae totam fugit distinctio maiores blanditiis repellat vitae sapiente nostrum deserunt earum laborum quibusdam atque corporis, saepe voluptates, architecto nulla dicta? Velit!</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://placehold.it/350x150" />
	      <div class="caption">
	        <h3><a href="/courseMat">Software Engineering</a></h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae totam fugit distinctio maiores blanditiis repellat vitae sapiente nostrum deserunt earum laborum quibusdam atque corporis, saepe voluptates, architecto nulla dicta? Velit!</p>
	      </div>
	    </div>
	  </div>
	  	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://placehold.it/350x150" />
	      <div class="caption">
	        <h3><a href="/courseMat">Artificial Intelligence</a></h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae totam fugit distinctio maiores blanditiis repellat vitae sapiente nostrum deserunt earum laborum quibusdam atque corporis, saepe voluptates, architecto nulla dicta? Velit!</p>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
</body>
</html>